<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}{% endblock title %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between
    py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg class="bi bi-pencil-square" width="40" height="32" role="img"
                     fill="currentColor" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1
                    .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0
                    .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5
                    0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5
                    0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        </ul>
    </header>
</div>
<main class="container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                {% block sidebar %}
                {% endblock %}
            </div>
        </div>
    </div>
</main>

<footer class="py-3 my-4 border-top">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="/blog" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <img src="{% static 'images/signpost-split.svg' %}" width="24" height="24" alt="">
                </a>
                <span class="mb-3 mb-md-0 text-muted">&copy; 2023 It's about Django!</span>
            </div>

            <ul class="nav col-auto">
                <li>
                    <a class="text-muted" href="#">
                        <img src="{% static 'images/github.svg' %}" width="24" height="24" alt="">
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-muted" href="#">
                        <img src="{% static 'images/twitter.svg' %}" width="24" height="24" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>