{% extends "base.html" %}
{% block title %}{{ recipe.title }}{% endblock %}
{% load static %}

{% block content %}
    <div>
        <h2> {{ recipe.title }} </h2>
        <h3> {{ recipe.description }} </h3>
        <p>Категория {{ recipe.category }}</p>
        <p>Время приготовления {{ recipe.cooking_time }}</p>
        <img src="{{ recipe.recipe_image }}" alt="Recipe image">
        <p>Published {{ recipe.created_at }} by {{ recipe.author }}</p>
        {{ recipe.cooking_steps | safe }}
    </div>
    <div class="recipe-ingredients">
        {% for ri in recipe.recipe_ingredients.all %}
            <div>
                {{ ri.ingredient.name }}, {{ ri.ingredient.unit }}: {{ ri.quantity }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
